*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 50px #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 85vw;
}

.titulo{
    text-align: center;
}

h1{
    color: #FFD38F;
    font-size: 3rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 2rem;
}

ul{
    background:none;
    margin: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

li{
    background:none;
    padding: 15px;
    margin: 10px;
    border: 1px solid #FFD38F;
    border-radius: 10px;
}

a{
    background:none;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

li:hover{
    background-color: #FFD38F;
    transition: .3s;
}

a:hover{
    color: black;
    transition: .3s;
}
