*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-access{
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 50%;
    height: 80%;
    padding: 15px;
    box-shadow:0px 10px 14px 2px rgba(0,0,0,0.47);
    display: flex;
    justify-content: space-between;
    color: hsl(234, 29%, 20%);
}
/* SECCION ACCESS */
.container-access .access{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.container-access .access h1{
    font-size: 40px; 
    margin-bottom: 20px;
}

.container-access .access ul{
    list-style: none;
}

.container-access .access p{
    font-size: 14px;
}

.container-access .access li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.container-access .access img{
    margin-right: 10px;
}
.container-access .access form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.container-access .access .label{
    display: flex;
    justify-content: space-between;
}
.container-access .access label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.container-access .access .label #errorMessage{
    display: none;
}
.container-access .access input {
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    margin-bottom: 15px;
    cursor:pointer;
}

.container-access .access .button{
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #212742;
    color: white;
    border: none;
    cursor:pointer;
}

.container-access .access .button:hover{
    background-image: linear-gradient(to bottom left, rgb(255, 99, 78),  rgb(255, 82, 123));
    box-shadow: 0px 10px 14px 2px rgb(255, 99, 78);
    transition: .3s;
}
/* SECCION IMAGE */

.container-access .image{
    height: 100%;
} 
.container-access .image img{
    height: 100%;
}

/* SECTION SUCCESS */
.container-success{
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 25%;
    height: 55%;
    padding: 15px;
    box-shadow:0px 10px 14px 2px rgba(0,0,0,0.47);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(234, 29%, 20%);
}

.container-success .success{
    padding: 0 30px;
}
.container-success img{
    height: 40px;
    margin: 15px 0;
}
.container-success h1{
    font-size: 40px; 
    margin-bottom: 20px;
}
.container-success p{
    font-size: 14px;
    padding: 0 0 15px 0;
}
.container-success button {
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor:pointer;
    background-color: #212742;
    color: white;
    border: none;
    width: 100%;
}

.container-success .button:hover{
    background-image: linear-gradient(to bottom left, rgb(255, 99, 78),  rgb(255, 82, 123));
    box-shadow: 0px 10px 14px 2px rgb(255, 99, 78);
    transition: .3s;
}

.container-success .boton{
    padding: 0 30px;
}

/* MOBILE DESIGN */
@media only screen and (max-width: 375px) {
    body{
        background-color: white;
        height: 100vh;
    }

    .container-access{
        margin: 0;
        padding: 0;
        width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        box-shadow: none;
        border-radius: 0;
    }

    .container-access .access{
        width: 80%;
        height: 60%;
        padding: 20px;
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .container-access .image img{
        display: none;
    }

    .container-access .image{
        background-image: url(../images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        position: relative;
        border: none;
        height: 40%;
    }


}
